@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap");
/***************
variables
**************/
/* rgb(107, 78, 113)*/
/*rgb(58, 68, 84)*/
/***************
basic styles
**************/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #2c3136;
  line-height: 1.6;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

a {
  text-decoration: none;
  color: #6b4e71;
}

li {
  list-style: none;
}

/***************
mixins
**************/
/***************
nav
**************/
nav {
  background: rgba(245, 221, 221, 0.9);
  padding: 9px 0;
  position: fixed;
  width: 100%;
  z-index: 5;
}

@media (max-width: 767px) {
  nav {
    text-align: center;
    padding: 5px 0;
  }
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav div .logo {
  font-style: italic;
  font-size: 2.3rem;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  nav div .logo {
    margin: 0 auto;
    font-size: 2rem;
  }
}

nav div .logo span {
  font-weight: 700;
  text-transform: uppercase;
}

nav div ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav div ul li {
  margin-right: 20px;
  padding: 10px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

@media (max-width: 767px) {
  nav div ul li {
    margin-right: 0;
    padding: 5px;
  }
}

nav div ul li:hover {
  background: #6b4e71;
}

nav div ul li a {
  text-transform: uppercase;
  padding: 10px;
  font-size: 1.1rem;
}

nav div ul li a:hover {
  color: #fff;
}

nav div ul li:last-child {
  margin-right: 0;
}

/***************
header
**************/
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(107, 78, 113, 0.9)), to(rgba(107, 78, 113, 0.4))), url(img/header-background.png);
  background-image: linear-gradient(to bottom, rgba(107, 78, 113, 0.9), rgba(107, 78, 113, 0.4)), url(img/header-background.png);
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  height: 90vh;
}

@media (max-width: 767px) {
  header {
    text-align: center;
  }
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 80px;
}

header .container div:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

@media (max-width: 767px) {
  header .container div:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

header .container div:first-child h1 {
  color: #000;
  font-weight: 400;
  opacity: 0.9;
  font-size: 4rem;
}

@media (max-width: 767px) {
  header .container div:first-child h1 {
    font-size: 2.5rem;
  }
}

header .container div:first-child h1 span {
  color: #fff;
  font-style: italic;
}

header .container div:first-child p {
  font-weight: 600;
  font-size: 1.3rem;
  color: #000;
}

@media (max-width: 767px) {
  header .container div:first-child p {
    font-size: 1rem;
  }
}

header .container div:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

@media (max-width: 767px) {
  header .container div:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

header .container div:last-child img {
  width: 100%;
}

/***************
services
**************/
.services {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.services article {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

@media (max-width: 767px) {
  .services article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.services article h2 {
  font-size: 1.9rem;
}

.services article hr {
  background: #6b4e71;
  height: 3px;
  border: none;
  width: 30%;
  display: inline-block;
}

.services article p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.services article img {
  width: 100%;
}

/***************
skills
**************/
.skills {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(107, 78, 113, 0.9))), url(img/bg.png);
  background: linear-gradient(rgba(107, 78, 113, 0.9)), url(img/bg.png);
  background-position: center;
  background-size: cover;
  padding: 130px 160px;
  color: #fff;
}

@media (max-width: 767px) {
  .skills {
    padding: 60px 80px;
  }
}

.skills .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.skills .container div h2 {
  font-size: 3rem;
  font-weight: 400;
}

@media (max-width: 767px) {
  .skills .container div h2 {
    font-size: 2rem;
  }
}

.skills .container div h2 span {
  font-style: italic;
  text-shadow: 0 0 5px #000;
}

.skills .container div ul li {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .skills .container div ul li {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
}

.skills .container div i {
  font-size: 10rem;
  text-shadow: 0 0 5px #000;
}

/***************
about
**************/
.slide {
  background-image: url(img/slide2.jpg);
  background-position: center;
  background-size: cover;
  height: 65vh;
}

@media (max-width: 767px) {
  .slide {
    height: 50vh;
  }
}

.about {
  text-align: center;
  padding: 50px 0;
}

.about h2 {
  font-size: 2.2rem;
  line-height: 1;
}

@media (max-width: 767px) {
  .about h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}

.about hr {
  border: none;
  height: 9px;
  background: #6b4e71;
  width: 22%;
  display: inline-block;
}

.about .technologies {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about .technologies article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  border: 1px solid #3a4454;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 5px #3a4454;
          box-shadow: 0 0 10px 5px #3a4454;
}

@media (max-width: 767px) {
  .about .technologies article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.about .technologies article img {
  width: 100%;
}

.about .technologies article h4 {
  font-size: 1.4rem;
  margin-top: 15px;
}

.about .technologies article p {
  margin: 10px 40px 40px;
}

/***************
contact
**************/
.header-contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(107, 78, 113, 0.8)), to(white)), url(../img/novisad.jpg), url(img/novisad.jpg);
  background-image: linear-gradient(to bottom, rgba(107, 78, 113, 0.8), white), url(../img/novisad.jpg), url(img/novisad.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-contact h2 {
  font-size: 2.7rem;
  margin-bottom: 15px;
}

.header-contact p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.5;
}

.contact {
  padding: 50px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
}

@media (max-width: 767px) {
  .contact article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.contact article i {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #6b4e71;
}

.contact article h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

/***************
footer
**************/
footer {
  padding: 50px 0;
  text-align: center;
  background: #f5dddd;
}

footer h2 {
  font-size: 2rem;
  font-weight: 400;
}

footer hr {
  height: 8px;
  border: none;
  background: #6b4e71;
  width: 4%;
  display: inline-block;
}

footer .icons {
  margin-top: 15px;
  margin-bottom: 15px;
}

footer .icons a {
  margin-right: 15px;
}

footer .icons a i {
  font-size: 1.9rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

footer .icons a i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .icons a:last-child {
  margin-right: 0;
}

footer p a {
  text-transform: uppercase;
}

footer p a:hover {
  color: gray;
}
/*# sourceMappingURL=style.css.map */