@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap');

/***************
variables
**************/
$fontFamilyPrimary: 'Poppins', sans-serif;
$fontFamilySecondary: 'Josefin Sans', sans-serif;
$fontSize: 16px;
$text: #2c3136;
$violet: #6b4e71; /* rgb(107, 78, 113)*/
$black: #000;
$gray: #3a4454; /*rgb(58, 68, 84)*/
$white: #fff;
$lightgray: #b3b3b3;
$transition: 0.4s ease-in-out;
$padding: 50px 0;

/***************
basic styles
**************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamilyPrimary;
    font-size: $fontSize;
    color: $text;
    line-height: 1.6;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $fontFamilySecondary;
}
.container {
    width: 80%;
    margin: 0 auto;
    @media (max-width:767px) {
        width: 90%;
    }
}
a {
    text-decoration: none;
    color: $violet;
}
li {
    list-style: none;
}

/***************
mixins
**************/
@mixin flex($justify, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin line {
    background: $violet;
    height: 3px;
    border: none;
    width: 30%;
    display: inline-block;
}

/***************
nav
**************/
nav {
    background: rgba(245, 221, 221, 0.9);
    padding: 9px 0;
    position: fixed;
    width: 100%;
    z-index: 5;
    @media (max-width:767px) {
        text-align: center;
        padding: 5px 0;
    }
    div {
        @include flex(space-between, center, row);
        .logo {
            font-style: italic;
            font-size: 2.3rem;
            letter-spacing: 1px;
            @media (max-width:767px) {
                margin: 0 auto;
                font-size: 2rem;
            }
            span {
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        ul {
            margin: 0 auto;
            @include flex(space-between, center, row);
            li {
                margin-right: 20px;
                padding: 10px;
                transition: $transition;
                @media (max-width:767px) {
                    margin-right: 0;
                    padding: 5px;
                }
                &:hover {
                    background: $violet;
                }
                a {
                    text-transform: uppercase;
                    padding: 10px;
                    font-size: 1.1rem;
                    &:hover {
                        color: $white;
                    }
                }
            }
            li:last-child {
                margin-right: 0;
            }
        }
    }
}

/***************
header
**************/
header {
    background-image: linear-gradient(to bottom, rgba(107, 78, 113, 0.9), rgba(107, 78, 113, 0.4)), url(img/header-background.png);
    background-position: center;
    background-size: cover;
    padding: $padding;
    height: 90vh;
    @media (max-width:767px) {
        text-align: center;
    }
    .container {
        @include flex(space-between, center, row);
        padding-top: 80px;
        div:first-child {
            flex: 0 0 55%;
            @media (max-width:767px) {
                flex: 0 0 100%;
            }
            h1 {
                color: $black;
                font-weight: 400;
                opacity: 0.9;
                font-size: 4rem;
                @media (max-width:767px) {
                    font-size: 2.5rem;
                }
                span {
                    color: $white;
                    font-style: italic;
                }
            }
            p {
                font-weight: 600;
                font-size: 1.3rem;
                color: $black;
                @media (max-width:767px) {
                    font-size: 1rem;
                }
            }
        }
        div:last-child {
            flex: 0 0 35%;
            @media (max-width:767px) {
                flex: 0 0 100%;
            }
            img {
                width: 100%;
            }
        }
    }
}

/***************
services
**************/
.services {
    padding: $padding;
    @include flex(space-between, center, row);
    article {
        text-align: center;
        flex: 0 0 30%;
        @media (max-width:767px) {
            flex: 0 0 100%;
        }
        h2 {
            font-size: 1.9rem;
        }
        hr {
            @include line;
        }
        p {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        img {
            width: 100%;
        }
    }
}

/***************
skills
**************/
.skills {
    background: linear-gradient(rgba(107, 78, 113, 0.9)), url(img/bg.png);
    background-position: center;
    background-size: cover;
    padding: 130px 160px;
    color: $white;
    @media (max-width:767px) {
        padding: 60px 80px;
    }
    .container {
        @include flex(space-around, center, row);
        div {
            h2 {
                font-size: 3rem;
                font-weight: 400;
                @media (max-width:767px) {
                    font-size: 2rem;
                }
                span {
                    font-style: italic;
                    text-shadow: 0 0 5px $black;
                }
            }
            ul {
                li {
                    font-size: 1.3rem;
                    font-weight: 600;
                    margin-bottom: 10px;
                    @media (max-width:767px) {
                        font-size: 1.1rem;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        div {
            i {
                font-size: 10rem;
                text-shadow: 0 0 5px $black;
            }
        }
    }
}

/***************
about
**************/
.slide {
    background-image: url(img/slide2.jpg);
    background-position: center;
    background-size: cover;
    height: 65vh;
    @media (max-width:767px) {
        height: 50vh;
    }
}
.about {
    text-align: center;
    padding: $padding;
    h2 {
        font-size: 2.2rem;
        line-height: 1;
        @media (max-width:767px) {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
    }
    hr {
        border: none;
        height: 9px;
        background: #6b4e71;
        width: 22%;
        display: inline-block;
    }
    .technologies {
        margin-top: 50px;
        @include flex(space-between, center, row);
        article {
            flex: 0 0 30%;
            border: 1px solid $gray;
            border-radius: 5px;
            box-shadow: 0 0 10px 5px $gray;
            @media (max-width:767px) {
                flex: 0 0 100%;
            }
            img {
                width: 100%;
            }
            h4 {
                font-size: 1.4rem;
                margin-top: 15px;
            }
            p {
                margin: 10px 40px 40px;
            }
        }
    }
}

/***************
contact
**************/
.header-contact {
    background-image: linear-gradient(to bottom, rgba(107, 78, 113, 0.8), white), url(../img/novisad.jpg), url(img/novisad.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    @include flex(center, center, column);
    h2 {
        font-size: 2.7rem;
        margin-bottom: 15px;
    }
    p {
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.5;
    }
}
.contact {
    padding: $padding;
    text-align: center;
    @include flex(space-between, center, row);
    article {
        flex: 0 0 31%;
        @media (max-width:767px) {
            flex: 0 0 100%;
        }
        i {
            font-size: 3rem;
            margin-bottom: 30px;
            color: $violet;
        }
        h4 {
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
}

/***************
footer
**************/
footer {
    padding: $padding;
    text-align: center;
    background: #f5dddd;
    h2 {
        font-size: 2rem;
        font-weight: 400;
    }
    hr {
        height: 8px;
        border: none;
        background: $violet;
        width: 4%;
        display: inline-block;
    }
    .icons {
        margin-top: 15px;
        margin-bottom: 15px;
        a {
            margin-right: 15px;
            i {
                font-size: 1.9rem;
                transition: $transition;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        a:last-child {
            margin-right: 0;
        }
    }
    p {
        a {
            text-transform: uppercase;
            &:hover {
                color: gray;
            }
        }
    }
}